/* Small reset */
        

        
        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;         
        }
        
    
        
        aside
        {
            float: left;
            width: 250px;
            
        }
        

        
        /* Vertical menu */
        
        #menu li
        {
          margin: 0 0 4px 0;
			padding-right:10px;
			padding-left:10px;
	           
        }
		
		#menu .itemMenu:hover{
		   color: #eee;
            background: #9c9c9c;
            background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999));
            background: -webkit-linear-gradient(top, #bbb, #999); 
            background:    -moz-linear-gradient(top, #bbb, #999); 
            background:     -ms-linear-gradient(top, #bbb, #999); 
            background:      -o-linear-gradient(top, #bbb, #999); 
            background:         linear-gradient(top, #bbb, #999);
		
		    
		}
		
		.conteudoMenu a {
			margin: 6px 0 4px 10px;
		}
        
        #menu a
        {
          display: block;
          *display: inline-block;
          *width: 240px;
          text-decoration: none;	            
          background: #ddd;
          color: #444;	
          padding: 10px 19px;
          text-transform: uppercase;
          font: bold 12px Arial,Helvetica;          
          -moz-border-radius:8px;
          -webkit-border-radius:8px;
          border-radius:8px;
          -moz-box-shadow: 0 1px 0 #ccc;
          -webkit-box-shadow: 0 1px 0 #ccc;
          box-shadow: 0 1px 0 #ccc;
        }
        
        
        #menu a
        {
            background: #f2f2f2;
            text-transform: none;
            font-weight: normal;            
        }
        
        #menu a:hover
        {
            background: #fafafa;
            color: #444;
        }